.filterContainer {
  display: flex;
  margin-right: 1rem;
  border: 0.5px solid #bbc3cf;
  padding: 0.125rem 1.25rem;
  border-radius: 1.25rem;
  .filterContent {
    margin-left: 0.5em;
    background: #ffffff;
    border-radius: 1.25rem;
    padding: 0.125rem 1.25rem;
    cursor: pointer;
  }
}

.projectMetadataContainer {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  .projectMetaData {
    display: flex;
    flex-direction: column;
    background: #eef0f3;
    border-radius: 0.625rem;
    padding: 0.5rem;
  }
}
