.mainContainer {
  width: 30rem;
  margin: auto;
}

.profileContainer {
  background: #eef0f3;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  align-items: center;

  img {
  }
}
.topCurvedBorder {
  border-top-left-radius: 1.125rem;
  border-top-right-radius: 1.125rem;
}
.bottomCurvedBorder {
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
}
.profileItem {
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #8896ab;
  display: flex;

  justify-content: space-between;
  min-width: 25rem;

  .title {
  }
  .content {
  }
}
